{% extends "base.html" %}

{% block body %}

<div class="Team-Details-info">
    <div class="container">
<h3>CreativeCapsule</h3>
    </div>
</div>
		<div class="container">
            <div class="space">
    <h1>Reset your password</h1>
    <hr>
    {% if validlink %}
        <p>Please enter your new password twice:</p>
        <form action="." method="post">
        {% for field in form %}
<div class="regpad" id="{{ field.html_name }}">
<label>{{field.label_tag}}</label>
<div>{{ field }}</div>
    </div>
{% endfor %}

            {% csrf_token %}
            <p><input class="grp-btn2" type="submit" value="Change my password" /></p>
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
            </div>
        </div>
{% endblock %}
