{% extends 'base.html' %}
<div class="Container">
	<div class="row">
{% block body %}
<div class="container-fluid detailtoppadding">
<div class="col-sm-3 mid picwid">
    <div class="thumbnail">
<img src="{{TeamMembers.Pic.url}}">
   <h4 text-size-details>{{TeamMembers.Name}}</h4>
    </div>
    <h4 class="text-size-details3" >{{TeamMembers.Address }}</h4>
</div>
 <div class="col-sm-9">
  <div class="container-fluid tabstop">
  <ul class="nav nav-tabs marbtm">
    <li class="active"><a data-toggle="tab" href="#home1">PERSONAL INFO</a></li>
    <li><a data-toggle="tab" href="#menu1">Assets</a></li>
  </ul>
	<div class="tab-content">
     <div id="home1" class="tab-pane fade in active">
          <div class="col-sm-4">
              <h5 class="text-size-details1">Name:</h5><h4 class="detailname">{{TeamMembers.Name}}</h4>
              <h5 class="text-size-details">Designation:</h5><h4 class="detailname">{{TeamMembers.Designation}}</h4>
        <h4 class="text-size-details">Date-of-Birth:</h4><h4 class="detailname">{{TeamMembers.DOB}}</h4>
        <h4 class="text-size-details">Team:</h4><h4 class="detailname">{{TeamMembers.Team}}</h4>
        <h4 class="text-size-details">Email:</h4><h4 class="detailname">{{TeamMembers.Email }}</h4>
        <h4 class="text-size-details">Year of passing:</h4><h4 class="detailname">{{TeamMembers.Year_of_passing }}</h4>
        <h4 class="text-size-details">Billable status:</h4><h4 class="detailname">{{TeamMembers.Billablestatus  }}</h4>
               </div>
          <div class="col-sm-1">
          </div>
          <div class="col-sm-4">
        <h4 class="text-size-details1">Date of joining CCI:</h4><h4 class="detailname">{{TeamMembers.Date_of_joining_CCI }}</h4>
        <h4 class="text-size-details">Date of joining Team:</h4><h4 class="detailname">{{TeamMembers.Date_of_joining_Team }}</h4>
        <h4 class="text-size-details">Phone No:</h4><h4 class="detailname">{{TeamMembers.Phone_No }}</h4>
        <h4 class="text-size-details">Skype Id:</h4><h4 class="detailname">{{TeamMembers.Skype_Id }}</h4>
        <!--<h4 class="text-size-details">Address:</h4><h4 class="detailname">{{TeamMembers.Address }}</h4>-->
        <h4 class="text-size-details">Qualification:</h4><h4 class="detailname">{{TeamMembers.Qualification  }}</h4>
        <h4 class="text-size-details">Technologies:</h4><h4 class="detailname">{{TeamMembers.Technologies  }}</h4>
        <h4 class="text-size-details">Employee status:</h4><h4 class="detailname">{{TeamMembers.Employeestatus  }}</h4>

            </div>
           <div class="col-sm-9">
        <h4 class="text-size-details">Description:</h4><h4 class="detailname">{{TeamMembers.Description  }}</h4>
      </div>
      </div>
  <div id="menu1" class="tab-pane fade">
      <div class="Container">
	<div class="row">
	<ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#personal">Personal</a></li>
      <li><a data-toggle="tab" href="#company">Company</a></li>
    </ul>
	 <div class="tab-content">
    	<div id="personal" class="tab-pane fade in active">
		  <h3>Personal Assets</h3>
		</div>
		  <div id="company" class="tab-pane fade marbtm">
			    <div class="col-sm-4">
              {% if Assets %}
              {% for TeamMembers in Assets %}
               <h5 class="text-size-details1">Name:</h5><h4 class="detailname">{{TeamMembers.Name}}</h4>
              <h5 class="text-size-details1">laptop:</h5><h4 class="detailname">{{TeamMembers.laptop}}</h4>
              <h5 class="text-size-details1">keyboard:</h5><h4 class="detailname">{{TeamMembers.keyboard}}</h4>
              <h5 class="text-size-details1">mouse:</h5><h4 class="detailname">{{TeamMembers.mouse}}</h4>
              <h5 class="text-size-details1">dongle:</h5><h4 class="detailname">{{TeamMembers.dongle}}</h4>
              {% endfor %}
              {% else %}
			<h3>you don't have any Assets</h3>
		{% endif %}
                </div>
              <div class="col-sm-1">
          </div>
          <div class="col-sm-4">
               {% for TeamMembers in Accessories %}
               <h5 class="text-size-details1">Webcam:</h5><h4 class="detailname">{{TeamMembers.Webcam}}</h4>
               <h5 class="text-size-details1">Dock:</h5><h4 class="detailname">{{TeamMembers.Dock}}</h4>
               <h5 class="text-size-details1">Adopter:</h5><h4 class="detailname">{{TeamMembers.Adopter}}</h4>
               <h5 class="text-size-details1">SpikeGuard:</h5><h4 class="detailname">{{TeamMembers.SpikeGuard}}</h4>
               <h5 class="text-size-details1">HeadPhone:</h5><h4 class="detailname">{{TeamMembers.HeadPhone}}</h4>
               {% endfor %}
          </div>
		  </div>
	</div>
  </div>
    </div>
      </div>
  </div>
</div>
 </div>
</div>
{% endblock %}
    </div>
</div>