{% extends 'base.html' %}

{% block body %}
 <div class="Team-Details-info">
		<div class="container-fluid">
			<div class="username">
				<div class="col-sm-10">
                  <h2>Search</h2>
	        	</div>
	 <div class="col-sm-2 usetop-pad">
					{% if user.is_authenticated %}
        				<p class="usepadding">Welcome: {{ user.username }}     </p>
    				{% endif %}
				</div>
			</div>
    </div>
 </div>
{% if user.is_authenticated %}
<div class="Container searchboxpad">
	<div class="row">
<form>
     <input name='search_box'>
</form>
{% if results %}
Found the following items:
<ol>
{% for result in results %}
    <li>
        <a href="{% url 'main:details' result.id %}">{{result}}</a>
    </li>
{% endfor %}
</ol>
{% endif %}
{% else %}
{% endif %}
{% endblock %}
    </div>
</div>
