{% extends 'base.html' %}

{% block body %}
 <div class="Team-Details-info">
		<div class="container-fluid">
			<div class="username">
				<div class="col-sm-8">
                  <h2>Search Results</h2>
	        	</div>
	 <div class="col-sm-2 usetop-pad">
					{% if user.is_authenticated %}
        				<p class="usepadding">Welcome: {{ user.username }}     </p>
    				{% endif %}
				</div>
				 <div class="col-sm-2 usetop-padsearch ">
					<form type="get" action="{% url 'main:search' %}" style="margin: 0">
    					<input autocomplete="off"  id="search_box" type="text" name="search_box"  placeholder="Search..." >
    					<!--<button id="search_submit" type="submit" ><i class="fa fa-search" aria-hidden="true"></i></button>-->
					</form>
				</div>
			</div>
    </div>
 </div>
{% if user.is_authenticated %}
<div class="Container searchboxpad">
	<div class="row">

{% if results %}

<ol>
{% for result in results %}
<div class="col-sm-2 indpic">
	<div class="space">
		<div class="thumbnail">
			<img src="{{result.Pic.url}}">
			<div class="namecent">
              <a href="{% url 'main:details' result.id %}">{{result.Name}}</a>
			</div>
		</div>
    </div>
</div>


{% endfor %}
</ol>
{% endif %}
{% else %}
{% endif %}
{% endblock %}
    </div>
</div>
