{% extends 'base.html' %}

{% block body %}
{% if user.is_authenticated %}
	<div class="Team-Details-info">
		<div class="container-fluid">
			<div class="username">
				<div class="col-sm-8">
					<h2>Change Password</h2>
				</div>
				<div class="col-sm-2 usetop-pad">
					{% if user.is_authenticated %}
        				<p class="usepadding">Welcome: {{ user.username }}     </p>
    				{% endif %}
				</div>
				<div class="col-sm-2 usetop-padsearch ">
					<form type="get" action="{% url 'main:search' %}" style="margin: 0">
    					<input autocomplete="off"  id="search_box" type="text" name="search_box"  placeholder="Search..." >
    					<!--<button id="search_submit" type="submit" ><i class="fa fa-search" aria-hidden="true"></i></button>-->
					</form>
				</div>
		</div>
    </div>
</div>

<div class="container-fluid space">
<form method="post" action="" enctype="multipart/form-data">
  {% csrf_token %}
    <div class="group-form-space col-sm-4 col-sm-offset-4">
             <h2 class="loginfont">Change Your Password</h2>




            {% for field in form %}
<label  class="regpad" >{{field.label_tag}}</label>
<div>{{ field }}</div>

{% endfor %}











             <button class="grp-btn1" type="submit">Save changes</button>


    </div>
</form>
</div>
{% else %}

{% endif %}

{% endblock %}