{% extends 'base.html' %}

{% block body %}
     <div class="Team-Details-info">
		<div class="container-fluid">
			<div class="username">
			  <div class="col-sm-8">
                <h2>Team Information</h2>
		      </div>
				<div class="col-sm-2 usetop-pad">
					{% if user.is_authenticated %}
        				<p class="usepadding">Welcome: {{ user.username }}     </p>
    				{% endif %}
				</div>
                <div class="col-sm-2 usetop-padsearch ">
					<form type="get" action="{% url 'main:search' %}" style="margin: 0">
    					<input autocomplete="off"  id="search_box" type="text" name="search_box"  placeholder="Search..." >
    					<!--<button id="search_submit" type="submit" ><i class="fa fa-search" aria-hidden="true"></i></button>-->
					</form>
				</div>


			</div>
    </div>
	</div>
    <div class="container-fluid space">
        <div class="row">
            <div class="col-sm-6">
                 <div class="col-sm-2 teamweight">
              <h4> TeamName:</h4>
                 </div>
                      <div class="col-sm-4"><h4> {{TeamsDetail.TeamName}}  </h4>
                      </div>
            </div>
	        <div class="col-sm-6">
                    <div class="col-sm-2 teamweight">
                        <h4>TeamLead:</h4> </div> <div class="col-sm-4"> <h4> {{TeamsDetail.TeamLead}}   </h4>
            </div>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-6">
                <div class="col-sm-2 teamweight">     <h4>ClientName: </h4> </div> <div class="col-sm-4"> <h4>{{TeamsDetail.ClientName}}   </h4>
            </div></div>
                <div class="col-sm-6">
                    <div class="col-sm-2 teamweight">   <h4>Tech: </h4></div> <div class="col-sm-4"> <h4>  {{TeamsDetail.Tech}}   </h4>
                </div></div>
         </div>
    </div>
  <div class="Team-Details-info">
		<div class="container-fluid">
             <div class="col-sm-12">
        <h2>Team-Members</h2>
             </div>
		</div>
    </div>

<div class="panel panel-default">
    <div class="panel-body">
{% if All_TeamMembers %}
	<ul>
		{% for AllTeams in All_TeamMembers %}
<div class="col-sm-2 indpic indpic1">
	<div class="space">
		<div class="thumbnail">
			<img src="{{AllTeams.Pic.url}}">
				<div class="namecent">

        <a href="{% url 'main:TeamMemberDetails' AllTeams.id %}">{{AllTeams.Name}}</a>
                </div>
        </div>
    </div>
</div>

	{% endfor %}
	</ul>
   </div>
<div class="panel-footer">



<div class="text-center">
        <ul class="pagination pagination-sm">
            {% if All_TeamMembers.number >= 5 %}
               <li><a href="?page=1">1</a></li>
               <li><span>...</span></li>
            {% elif All_TeamMembers.number == 4 %}
               <li><a href="?page=1">1</a></li>
            {% endif %}
            {% if All_TeamMembers.number|add:"-2" >= 1  %}
               <li><a href="?page={{ All_TeamMembers.number|add:' -2 ' }}">{{ All_TeamMembers.number|add:"-2" }}</a></li>
            {% endif %}
            {% if All_TeamMembers.number|add:"-1" >= 1  %}
               <li><a href="?page={{ All_TeamMembers.number|add:'-1' }}">{{ All_TeamMembers.number|add:"-1" }}</a></li>
            {% endif %}
               <li class="active"><a href="?page={{ All_TeamMembers.number }}">{{ All_TeamMembers.number }}</a></li>
            {% if All_TeamMembers.number|add:"1" <= All_TeamMembers.paginator.num_pages  %}
               <li><a href="?page={{ All_TeamMembers.number|add:'1' }}">{{ All_TeamMembers.number|add:"1" }}</a></li>
            {% endif %}
            {% if All_TeamMembers.number|add:"2" <= All_TeamMembers.paginator.num_pages %}
               <li><a href="?page={{ All_TeamMembers.number|add:'2' }}">{{ All_TeamMembers.number|add:"2" }}</a></li>
            {% endif %}
            {% if All_TeamMembers.number|add:"2" <= All_TeamMembers.paginator.num_pages|add:"-2" %}
               <li><span>...</span></li>
            <li><a href="?page={{ All_TeamMembers.paginator.num_pages }}">{{ All_TeamMembers.paginator.num_pages }}</a></li>
            {% elif All_TeamMembers.number|add:"1" <= All_TeamMembers.paginator.num_pages|add:"-2" %}
            <li><a href="?page={{ All_TeamMembers.paginator.num_pages }}">{{ All_TeamMembers.paginator.num_pages }}</a></li>
            {% endif %}
        </ul>
</div>



{% else %}
	<h3>you don't have any Team Members</h3>
{% endif %}
</div>

</div>

{% endblock %}

